.ih {
    font-size: 80px;
    color: rgb(0, 0, 0);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #114df0, 0 0 40px #0c3606, 0 0 50px #bd3030, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px rgb(245, 20, 20), 0 0 30px #1900ff, 0 0 40px #bbff00, 0 0 50px #07ffea, 0 0 60px #27068157, 0 0 70px #4dfff0d0, 0 0 80px #4dffb5;
    }
  }

  canvas{
    border: 2px solid blueviolet;
  }